**
!Dockerfile
!LICENSE
!global.json
!Directory.Build.props
!Directory.Build.targets
!Directory.Packages.props
!NuGet.Config
!src/
!src/ArcForges.Cloud/
!src/ArcForges.Cloud/*.cs
!src/ArcForges.Cloud/Composition/
!src/ArcForges.Cloud/Composition/*.cs
!src/ArcForges.Cloud/Foundation/
!src/ArcForges.Cloud/Foundation/*.cs
!src/ArcForges.Cloud/Ingress/
!src/ArcForges.Cloud/Ingress/*.cs
!src/ArcForges.Cloud/Infrastructure/
!src/ArcForges.Cloud/Infrastructure/*.cs
!src/ArcForges.Cloud/Capacity/
!src/ArcForges.Cloud/Capacity/*.cs
!src/ArcForges.Cloud/Readiness/
!src/ArcForges.Cloud/Readiness/*.cs
!src/ArcForges.Cloud/*.csproj
!src/ArcForges.Cloud/packages.lock.json
!src/ArcForges.Cloud.Storage.D1/
!src/ArcForges.Cloud.Storage.D1/*.cs
!src/ArcForges.Cloud.Storage.D1/Hmac/
!src/ArcForges.Cloud.Storage.D1/Hmac/*.cs
!src/ArcForges.Cloud.Storage.D1/Physical/
!src/ArcForges.Cloud.Storage.D1/Physical/*.cs
!src/ArcForges.Cloud.Storage.D1/Receipts/
!src/ArcForges.Cloud.Storage.D1/Receipts/*.cs
!src/ArcForges.Cloud.Storage.D1/Outbox/
!src/ArcForges.Cloud.Storage.D1/Outbox/*.cs
!src/ArcForges.Cloud.Storage.D1/Archive/
!src/ArcForges.Cloud.Storage.D1/Archive/*.cs
!src/ArcForges.Cloud.Storage.D1/SharedFamilies/
!src/ArcForges.Cloud.Storage.D1/SharedFamilies/*.cs
!src/ArcForges.Cloud.Storage.D1/ModuleBinding/
!src/ArcForges.Cloud.Storage.D1/ModuleBinding/*.cs
!src/ArcForges.Cloud.Storage.D1/FamilyBinding/
!src/ArcForges.Cloud.Storage.D1/FamilyBinding/*.cs
!src/ArcForges.Cloud.Storage.D1/Platform/
!src/ArcForges.Cloud.Storage.D1/Platform/*.cs
!src/ArcForges.Cloud.Storage.D1/Capacity/
!src/ArcForges.Cloud.Storage.D1/Capacity/*.cs
!src/ArcForges.Cloud.Storage.D1/*.csproj
!src/ArcForges.Cloud.Storage.D1/packages.lock.json
!src/ArcForges.Cloud.Modules.*/
!src/ArcForges.Cloud.Modules.*/*.cs
!src/ArcForges.Cloud.Modules.*/*.csproj
!src/ArcForges.Cloud.Modules.*/packages.lock.json
!src/ArcForges.Cloud.Modules.Commerce/Adapters/
!src/ArcForges.Cloud.Modules.Commerce/Adapters/*.cs
!src/ArcForges.Cloud.Modules.*/Domain/
!src/ArcForges.Cloud.Modules.*/Domain/*.cs
!src/ArcForges.Cloud.Modules.*/Application/
!src/ArcForges.Cloud.Modules.*/Application/*.cs
!src/ArcForges.Cloud.Modules.*/Infrastructure/
!src/ArcForges.Cloud.Modules.*/Infrastructure/*.cs
!src/ArcForges.Cloud.Modules.Policy/Boundaries/
!src/ArcForges.Cloud.Modules.Policy/Boundaries/*.cs
!src/ArcForges.Cloud.Modules.*/Resolver/
!src/ArcForges.Cloud.Modules.*/Resolver/Domain/
!src/ArcForges.Cloud.Modules.*/Resolver/Domain/*.cs
!src/ArcForges.Cloud.Modules.*/Resolver/Application/
!src/ArcForges.Cloud.Modules.*/Resolver/Application/*.cs
!src/ArcForges.Cloud.Modules.*/Resolver/Infrastructure/
!src/ArcForges.Cloud.Modules.*/Resolver/Infrastructure/*.cs
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/Domain/
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/Domain/*.cs
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/Application/
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/Application/*.cs
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/Infrastructure/
!src/ArcForges.Cloud.Modules.Entitlement/Resolver/Definitions/Infrastructure/*.cs
!src/ArcForges.Cloud.Modules.*/Persistence/
!src/ArcForges.Cloud.Modules.*/Persistence/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Entitlement/
!src/ArcForges.Cloud.Modules.Abstractions/Entitlement/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Storage/
!src/ArcForges.Cloud.Modules.Abstractions/Storage/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Commerce/
!src/ArcForges.Cloud.Modules.Abstractions/Commerce/*.cs
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/Domain/
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/Domain/*.cs
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/Application/
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/Application/*.cs
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/Infrastructure/
!src/ArcForges.Cloud.Modules.Commerce/Catalogue/Infrastructure/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Families/
!src/ArcForges.Cloud.Modules.Abstractions/Families/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Platform/
!src/ArcForges.Cloud.Modules.Abstractions/Platform/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Capacity/
!src/ArcForges.Cloud.Modules.Abstractions/Capacity/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Quota/
!src/ArcForges.Cloud.Modules.Abstractions/Quota/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Quota/QuotaAccountingContracts.cs
!src/ArcForges.Cloud.Modules.Entitlement/Quota/
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/Domain/
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/Domain/*.cs
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/Application/
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/Application/*.cs
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/Infrastructure/
!src/ArcForges.Cloud.Modules.Entitlement/Quota/Kernel/Infrastructure/*.cs
!src/ArcForges.Cloud.Modules.Identity/Recovery/
!src/ArcForges.Cloud.Modules.Identity/Recovery/Configuration/
!src/ArcForges.Cloud.Modules.Identity/Recovery/Configuration/*.cs
!src/ArcForges.Cloud.Modules.Identity/Recovery/Domain/
!src/ArcForges.Cloud.Modules.Identity/Recovery/Domain/*.cs
!src/ArcForges.Cloud.Modules.Identity/Recovery/Application/
!src/ArcForges.Cloud.Modules.Identity/Recovery/Application/*.cs
!src/ArcForges.Cloud.Modules.Identity/Recovery/Infrastructure/
!src/ArcForges.Cloud.Modules.Identity/Recovery/Infrastructure/*.cs
!src/ArcForges.Cloud.Modules.Abstractions/Identity/
!src/ArcForges.Cloud.Modules.Abstractions/Identity/*.cs
!src/ArcForges.Cloud.Modules.*/Core/
!src/ArcForges.Cloud.Modules.*/Core/Domain/
!src/ArcForges.Cloud.Modules.*/Core/Domain/*.cs
!src/ArcForges.Cloud.Modules.*/Core/Application/
!src/ArcForges.Cloud.Modules.*/Core/Application/*.cs
!src/ArcForges.Cloud.Modules.*/Core/Infrastructure/
!src/ArcForges.Cloud.Modules.*/Core/Infrastructure/*.cs
!artifacts/
!artifacts/image-notices/
!artifacts/image-notices/**
**/bin/
**/obj/
!package-lock.json
!eng/
!eng/version-sources.json
